<%= render 'layouts/regular_sidebar' %>
<div id="page-content-wrapper">
  <%= render 'shared/menu_toggle' %>
  <h1>Editing Relationship</h1>

  <%= render 'form', relationship: @relationship %>

  <%= link_to 'Show', @relationship %> |
  <%= link_to 'Back', relationships_path %>
</div>
<!-- /.page-content-wrapper -->
<%= render 'shared/top_of_page' %>
<%= render 'shared/side_menu_script' %>
