<table class="table table-striped">
  <tbody>
    <% if logged_in? && current_user.admin? %>
      <tr>
        <td>
          <b>
            ID
          </b>
        </td>
        <td>
          <%= @saint.id %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Published?
          </b>
        </td>
        <td>
          <% if @saint.published? %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <b>
            Fame
          </b>
        </td>
        <td>
          <%= @saint.fame_level %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_feast_day? %>
      <tr>
        <td>
          <b>
            Feast Day
          </b>
        </td>
        <td>
          <%= @saint.show_feast_day %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <b>
          Gender
        </b>
      </td>
      <td>
        <%= @saint.gender %>
      </td>
    </tr>
    <% if @saint.has_birthday? %>
      <tr>
        <td>
          <b>
            Born
          </b>
        </td>
        <td>
          <%= @accurate_birth_date %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_birth_location? %>
      <tr>
        <td>
          <b>
            Birthplace
          </b>
        </td>
        <td>
          <%= @saint.birth_location %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_deathday? %>
      <tr>
        <td>
          <b>
            Died
          </b>
        </td>
        <td>
          <%= @accurate_death_date %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_death_location? %>
      <tr>
        <td>
          <b>
            Deathplace
          </b>
        </td>
        <td>
          <%= @saint.death_location %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_beatification_date? %>
      <tr>
        <td>
          <b>
            Beatified
          </b>
        </td>
        <td>
          <%= @accurate_beatification_date %>
        </td>
      </tr>
    <% end %>
    <% if @saint.has_canonization_date? %>
      <tr>
        <td>
          <b>
            Canonized
          </b>
        </td>
        <td>
          <%= @accurate_canonization_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- /.table table-striped -->
