<h4>
  <%= saint.name %>
</h4>
<%= link_to "Full Information Page", saint_path(saint), target: '_blank' %>
<br>
<b>
  Born:
</b>
<% if saint.birth_accuracy == 0 %>
  c. <%= saint.birth_date.strftime("%Y") %>
<% else %>
  <%= saint.birth_date.strftime("%B %d, %Y") %>
<% end %>
<%= saint.birth_location %>
<br>
<b>
	Died:
</b>
<%= saint.death_date.strftime("%B %d, %Y") %> <%= saint.death_location %>
<br>
<b>
	Feast Day:
</b>
<%= saint.feast_day.strftime("%B %d") %>
<% if saint.image_url.present? %>
	<br>
	<%= image_tag saint.image_url, style: "width: 150px" %>
<% end %>
