<% if !saint.avatar.blank? %>
	<% if saint.avatar_alternative_text.blank? %>
		<%= image_tag saint.avatar.map_thumb.url, class: "rounded-circle saint-image", alt: saint.avatar_alternative_text, title: saint.avatar_alternative_text %>
 	<% else %>
  	<%= image_tag saint.avatar.map_thumb.url, class: "rounded-circle saint-image" %>
 	<% end %>
<% end %>
<h4>
  <%= saint.name %>
</h4>
<%= link_to "Full Information Page", saint_path(saint), target: '_blank' %>
<br>
<% if saint.birth_date.present? %>
	<b>Born:</b>
	<% if saint.birth_accuracy == 0 %>
		c. <%= saint.birth_date.strftime("%-Y") %>
	<% elsif saint.birth_accuracy == 1 %>
		<%= saint.birth_date.strftime("%-Y") %>
	<% else %>
		<%= saint.birth_date.strftime("%B %d, %-Y") %>
	<% end %> - 
<% end %>
<% if saint.birth_location.present? %>
	<%= saint.birth_location %>
<% end %>
<br>
<% if saint.death_date.present? %>
	<b>Died:</b>
	<% if saint.death_accuracy == 0 %>
		c. <%= saint.death_date.strftime("%-Y") %>
	<% elsif saint.death_accuracy == 1 %>
		<%= saint.death_date.strftime("%-Y") %>
	<% else %>
		<%= saint.death_date.strftime("%B %d, %-Y") %>
	<% end %> - 
<% end %>
<% if saint.death_location.present? %>
	<%= saint.death_location %>
<% end %>
<br>
<b>
	Feast Day:
</b>
<%= saint.feast_day.strftime("%B %d") %>
