<% if saint.image_url.present? %>
	<br>
	<%= image_tag saint.image_url, style: "width: 150px" %>
<% end %>
<h4>
  <%= saint.name %>
</h4>
<%= link_to "Full Information Page", saint_path(saint), target: '_blank' %>
<br>
<% if saint.birth_date.present? %>
	<b>Born:</b>
	<% if saint.birth_accuracy == 0 %>
		c. <%= saint.birth_date.strftime("%-Y") %>
	<% elsif saint.birth_accuracy == 1 %>
		<%= saint.birth_date.strftime("%-Y") %>
	<% else %>
		<%= saint.birth_date.strftime("%B %d, %-Y") %>
	<% end %>
	<br>
<% end %>
- <%= saint.birth_location %>
<br>
<% if saint.death_date.present? %>
	<b>Died:</b>
	<% if saint.death_accuracy == 0 %>
		c. <%= saint.death_date.strftime("%-Y") %>
	<% elsif saint.death_accuracy == 1 %>
		<%= saint.death_date.strftime("%-Y") %>
	<% else %>
		<%= saint.death_date.strftime("%B %d, %-Y") %>
	<% end %>
	<br>
<% end %>
- <%= saint.death_location %>
<br>
<b>
	Feast Day:
</b>
<%= saint.feast_day.strftime("%B %d") %>
