<% provide(:title, 'Edit A Saint') %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Edit A Saint
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for @saint do |f| %>
        <%= f.input :name %>
        <%= f.input :gender, :collection => gender_options %>
        <%= f.input :feast_day, as: :date, order: [:month, :day] %>
        <%= f.input :birth_date, as: :string, label: 'Birth Date: Strict Format YYYY-MM-DD' %>
        <%= f.input :birth_accuracy, label: 'Birth Accuracy: 0-3' %>
        <%= f.input :death_date, as: :string, label: 'Death Date: Strict Format YYYY-MM-DD' %>
        <%= f.input :death_accuracy, label: 'Death Accuracy: 0-3' %>
        <%= f.input :birth_location %>
        <%= f.input :birth_latitude %>
        <%= f.input :birth_longitude %>
        <%= f.input :death_location %>
        <%= f.input :death_latitude %>
        <%= f.input :death_longitude %>
        <%= f.input :beatification_date, as: :string, label: 'Beatification Date: Strict Format YYYY-MM-DD' %>
        <%= f.input :beatification_accuracy, label: 'Beatification Accuracy: 0-3' %>
        <%= f.input :canonization_date, as: :string, label: 'Canonization Date: Strict Format YYYY-MM-DD' %>
        <%= f.input :canonization_accuracy, label: 'Canonization Accuracy: 0-3' %>
        <%= f.file_field :avatar %>
        <%= f.input :avatar_caption %>
        <%= f.input :avatar_description %>
        <%= f.input :avatar_alternative_text %>
        <%= f.input :short_description %>
        <%= f.input :long_description %>
        <%= f.label "Descriptors" %>
        <%= f.input :pope %>
        <%= f.input :cardinal %>
        <%= f.input :bishop %>
        <%= f.input :priest %>
        <%= f.input :religious %>
        <%= f.input :lay %>
        <%= f.input :martyr %>
        <%= f.input :founder %>
        <%= f.input :mystic %>
        <%= f.input :royalty %>
        <%= f.input :doctor_of_the_church %>
        <%= f.input :early_church_father %>
        <%= f.submit "Edit Saint", class: "btn btn-primary" %>
      <% end %>
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
