<% provide(:title, 'Add A Saint') %>
<%= render 'layouts/regular_sidebar' %>
<div id="page-content-wrapper">
  <%= render 'layouts/alerts' %>
  <%= render 'shared/menu_toggle' %>
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
        Add A Saint
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-xl-12 -->
  </div>
  <!-- /.row -->
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <%= simple_form_for @saint do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :title %>
          </div>
          <div class="col">
            <%= f.input :name %>
          </div>
          <div class="col">
            <%= f.input :gender, :collection => gender_options %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :fame_level, label: 'Fame Level: 1-100' %>
          </div>
          <div class="col">
            <%= f.input :feast_day, as: :date, order: [:month, :day] %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :birth_date, as: :string, label: 'Birth Date: Strict Format YYYY-MM-DD' %>
          </div>
          <div class="col">
            <%= f.input :birth_accuracy %> 
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :death_date, as: :string, label: 'Death Date: Strict Format YYYY-MM-DD' %>
          </div>
          <div class="col">
            <%= f.input :death_accuracy %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :birth_location %>
          </div>
          <div class="col">
            <%= f.input :birth_latitude %>
          </div>
          <div class="col">
            <%= f.input :birth_longitude %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :death_location %>
          </div>
          <div class="col">
            <%= f.input :death_latitude %>
          </div>
          <div class="col">
            <%= f.input :death_longitude %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :beatification_date, as: :string, label: 'Beatification Date: Strict Format YYYY-MM-DD' %>
          </div>
          <div class="col">
            <%= f.input :beatification_accuracy %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :canonization_date, as: :string, label: 'Canonization Date: Strict Format YYYY-MM-DD' %>
          </div>
          <div class="col">
            <%= f.input :canonization_accuracy %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="control-label">
              Avatar
            </label>
            <%= f.file_field :avatar %>
            <%= f.input :avatar_description %>
          </div>
          <div class="col">
            <%= f.input :avatar_caption %>
            <%= f.input :avatar_alternative_text %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :short_description %>
          </div>
          <div class="col">
            <%= f.input :long_description %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :pope %>
          </div>
          <div class="col">
            <%= f.input :cardinal %>
          </div>
          <div class="col">
            <%= f.input :bishop %>
          </div>
          <div class="col">
            <%= f.input :priest %>
          </div>
          <div class="col">
            <%= f.input :religious %>
          </div>
          <div class="col">
            <%= f.input :lay %>
          </div>
          <div class="col">
            <%= f.input :martyr %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.input :founder %>
          </div>
          <div class="col">
            <%= f.input :mystic %>
          </div>
          <div class="col">
            <%= f.input :royalty %>
          </div>
          <div class="col">
            <%= f.input :doctor_of_the_church %>
          </div>
          <div class="col">
            <%= f.input :early_church_father %>
          </div>
          <div class="col">
            <%= f.input :published, label: 'Publish to the public?' %>
          </div>
        </div>
        <%= f.submit "Add Saint", class: "btn btn-primary" %>
      <% end %>
    </div>
    <!-- /.col-lg-8 offset-md-2 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-content-wrapper -->
<%= render 'shared/top_of_page' %>
<%= render 'shared/side_menu_script' %>
