<% provide(:title, "#{@saint.name}") %>
<h1>
<%= @saint.name %>
</h1>
<div class="container-fluid">
	<% if @saint.image_url.present? %>
		<div class="col-md-5">
			<%= image_tag @saint.image_url, class: "img-circle", style: "width: 250px" %>
		</div>
		<!-- /.col-md-5 -->
	<% end %>
	<div class="col-md-5">
		<%= link_to "Edit Saint", edit_saint_path(@saint) %>
		<br>
		<b>Gender:</b> <%= @saint.gender %>
		<br>
		<b>Feast Day:</b> <%= @saint.feast_day.strftime("%B %d") %>
		<br>
		<% if @saint.birth_date.present? %>
			<b>Birth Date:</b>
			<% if @saint.birth_accuracy == 0 %>
				c. <%= @saint.birth_date.strftime("%-Y") %>
			<% elsif @saint.birth_accuracy == 1 %>
				<%= @saint.birth_date.strftime("%-Y") %>
			<% else %>
				<%= @saint.birth_date.strftime("%B %d, %-Y") %>
			<% end %>
			<br>
		<% end %>
		<% if @saint.death_date.present? %>
			<b>Death Date:</b>
			<% if @saint.death_accuracy == 0 %>
				c. <%= @saint.death_date.strftime("%-Y") %>
			<% elsif @saint.death_accuracy == 1 %>
				<%= @saint.death_date.strftime("%-Y") %>
			<% else %>
				<%= @saint.death_date.strftime("%B %d, %-Y") %>
			<% end %>
			<br>
		<% end %>
		<b>Birth Location:</b> <%= @saint.birth_location %>
		<br>
		<b>Death Location:</b> <%= @saint.death_location %>
		<br>
		<% if @saint.beatification_date.present? %>
			<b>Beatification Date:</b>
			<% if @saint.beatification_accuracy == 0 %>
				c. <%= @saint.beatification_date.strftime("%-Y") %>
			<% elsif @saint.beatification_accuracy == 1 %>
				<%= @saint.beatification_date.strftime("%-Y") %>
			<% else %>
				<%= @saint.beatification_date.strftime("%B %d, %-Y") %>
			<% end %>
			<br>
		<% end %>
		<% if @saint.canonization_date.present? %>
			<b>Canonization Date:</b>
			<% if @saint.canonization_accuracy == 0 %>
				c. <%= @saint.canonization_date.strftime("%-Y") %>
			<% elsif @saint.canonization_accuracy == 1 %>
				<%= @saint.canonization_date.strftime("%-Y") %>
			<% else %>
				<%= @saint.canonization_date.strftime("%B %d, %-Y") %>
			<% end %>
			<br>
		<% end %>
		<b>Attributes:</b>
		<br>
		<% if @saint.pope %>
			Pope
			<br>
		<% end %>
		<% if @saint.cardinal %>
			Cardinal
			<br>
		<% end %>
		<% if @saint.bishop %>
			Bishop
			<br>
		<% end %>
		<% if @saint.priest %>
			Priest
			<br>
		<% end %>
		<% if @saint.religious %>
			Religious
			<br>
		<% end %>
		<% if @saint.lay %>
			Layperson
			<br>
		<% end %>
		<% if @saint.martyr %>
			Martyr
			<br>
		<% end %>
		<% if @saint.founder %>
			<% if @saint.gender == "Male" %>
				Founder
			<% end %>
			<% if @saint.gender =="Female" %>
				Foundress
			<% end %>
			<br>
		<% end %>
		<% if @saint.mystic %>
			Mystic
			<br>
		<% end %>
		<% if @saint.royalty %>
			Royalty
			<br>
		<% end %>
		<% if @saint.doctor_of_the_church %>
			Doctor of the Church
			<br>
		<% end %>
		<% if @saint.early_church_father %>
			Early Church Father
			<br>
		<% end %>
	</div>
	<!-- /.col-md-6 -->
</div>
<!-- /.container-fluid -->
