<%= render 'layouts/regular_sidebar' %>
<div class="page-content-wrapper" style="padding-top: 53px;">
  <nav id="navbar" class="navbar bg-primary" style="position: fixed; top:0; right:0; left:0; z-index: 1030">
    <a href="#menu-toggle" class="btn btn-light" id="menu-toggle">
      Menu
    </a>
    <!-- /.btn btn-secondary -->
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Table of Contents
        </a>
        <!-- /.nav-link dropdown-toggle -->
        <div class="dropdown-menu">
          <% if !@timeline_events.empty? %>
            <a class="dropdown-item" href="#timeline">
              Life Timeline
            </a>
            <!-- /.dropdown-item -->
          <% end %>
          <% if !@saint_photos.empty? %>
            <a class="dropdown-item" href="#photogallery">
              Photos
            </a>
            <!-- /.dropdown-item -->
          <% end %>
          <% if !@following_saints.empty? %>
            <a class="dropdown-item" href="#related">
              Related Saints
            </a>
            <!-- /.dropdown-item -->
          <% end %>
          <% if !@written_works.empty? %>
            <a class="dropdown-item" href="#writings">
              Writings
            </a>
            <!-- /.dropdown-item -->
          <% end %>
        </div>
        <!--/. dropdown-menu -->
      </li>
      <!-- /.nav-item dropdown -->
    </ul>
    <!-- /.nav nav-pills -->
  </nav>
  <div data-spy="scroll" data-target="#navbar-saintstories" data-offset="0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <h1 class="saint-title" style="padding-top: 60px; margin-top: -40px;">
            <%= title @saint.name %>
          </h1>
          <!-- /.saint-title-->
          <% if !@saint.avatar.blank? %>
            <% if @saint.avatar_alternative_text? %>
              <%= image_tag @saint.avatar.url, class: "rounded-circle saint-image", alt: @saint.avatar_alternative_text, title: @saint.avatar_alternative_text %>
            <% else %>
              <%= image_tag @saint.avatar.url, class: "rounded-circle saint-image" %>
            <% end %>
          <% end %>
          <p class="saint-buttons">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
              Basic Info
            </button>
            <% if logged_in? && current_user.admin? %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminModal">
                Admin Options
              </button>
              <%= render 'saints/admin_modal' %>
            <% end %>
          </p>
          <!-- /.saint-buttons -->
          <%= render 'saints/basic_info_modal' %>
          <% if @saint.long_description.present? %>
            <%= @saint.long_description.html_safe %>
          <% end %>
        </div>
        <!-- /.col-xl-12 -->
        <% if !@timeline_events.empty? %>
            <%= render 'saints/saint_timeline' %>
        <% end %>
        <% if !@saint_photos.empty? %>
            <%= render 'saints/saint_photo_page' %>
        <% end %>
        <% if !@following_saints.empty? %>
            <%= render 'saints/saint_related_saints' %>
        <% end %>
        <% if !@written_works.empty? %>
          <%= render 'saints/saint_written_works' %>
        <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
</div>
<!-- /.page-content-wrapper -->
<%= render 'shared/top_of_page' %>
<%= render 'shared/side_menu_script' %>
