<% set_meta_tags title: @saint.name,
                 description: @saint.short_description,
                 keywords: @saint.name %>
<div class ="container-fluid">
	<div class="row">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-444468">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-200304" data-toggle="tab">General</a>
					</li>
					<% if @saint.timeline_events.any? %>
						<li>
							<a href="#panel-567649" data-toggle="tab">Life Timeline</a>
						</li>
					<% end %>
					<li>
						<a href="#panel-987654" data-toggle="tab">Related Saints</a>
					</li>
					<% if @saint.written_works.any? %>
						<li>
							<a href="#panel-123456" data-toggle="tab">Written Works</a>
						</li>
					<% end %>
					<% if @saint.saint_photos.any? %>
						<li>
							<a href="#panel-777777" data-toggle="tab">Photos</a>
						</li>
					<% end %>
				</ul>
				<!-- /.nav nav-tabs -->
				<div class="tab-content">
					<div class="tab-pane active" id="panel-200304">
						<div class="row" style="margin-left: 0; margin-right: 0;">
            	<div class="col-md-8 column saint-info">
            		<h1>
									<%= title @saint.name %>
								</h1>
								<% if @saint.long_description.present? %>
									<%= @saint.long_description.html_safe %>
								<% end %>
            	</div>
            	<!-- /.col-md-8 column -->
            	<div class="col-md-3 column">
            		<% if !@saint.avatar.blank? %>
            			<% if @saint.avatar_alternative_text? %>
            				<%= image_tag @saint.avatar.url, class: "img-circle saint-image", alt: @saint.avatar_alternative_text, title: @saint.avatar_alternative_text %>
            			<% else %>
            				<%= image_tag @saint.avatar.url, class: "img-circle saint-image" %>
            			<% end %>
            		<% end %>
            		<%= render 'saints/info_sidebar' %>
            	</div>
            	<!-- /.col-md-3 column -->
            </div>
            <!-- /.row -->
            <% if logged_in? && current_user.admin? %>
            	<%= render 'saints/admin_saint_controls' %>
            <% end %>
					</div>
					<!-- /.tab-pane active -->
					<% if @saint.timeline_events.any? %>
						<div class="tab-pane" id="panel-567649">
    					<div class="row" style="margin-left: 0; margin-top:20px; margin-right: 0;">
    						<%= render 'saints/saint_timeline' %>
    					</div>
    					<!-- /.row -->
						</div>
						<!-- /.tab-pane -->
					<% end %>
					<% if @saint.written_works.any? %>
						<div class="tab-pane" id="panel-123456">
    					<div class="row" style="margin-left: 0; margin-right: 0;">
        				<div class="section section-dark text-center landing-section" style="margin-left: 0; margin-right: 0;">
									<%= render 'saints/saint_written_works' %>
								</div>
								<!-- /.section section-dark text-center landing-section -->
    					</div>
    					<!-- /.row -->
						</div>
						<!-- /.tab-pane -->
					<% end %>
					<% if @saint.saint_photos.any? %>
						<div class="tab-pane" id="panel-777777">
    					<div class="row" style="margin-left: 0; margin-right: 0;">
								<%= render 'saints/saint_photo_page' %>
    					</div>
    					<!-- /.row -->
						</div>
						<!-- /.tab-pane -->
					<% end %>
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /.tabbable -->
		</div>
		<!-- /.col-md-12 column -->
	</div>
	<!-- /.row -->
</div>
<!-- /.container-fluid -->
