<%= render 'layouts/regular_sidebar' %>
<div id="page-content-wrapper">
  <p id="notice"><%= notice %></p>
  <%= render 'shared/menu_toggle' %>

  <h1>Timeline Events</h1>
  
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Image caption</th>
        <th>Image description</th>
        <th>Image alternative text</th>
        <th>Event description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @timeline_events.each do |timeline_event| %>
        <tr>
          <td><%= timeline_event.image %></td>
          <td><%= timeline_event.image_caption %></td>
          <td><%= timeline_event.image_description %></td>
          <td><%= timeline_event.image_alternative_text %></td>
          <td><%= timeline_event.event_description %></td>
          <td><%= link_to 'Show', timeline_event %></td>
          <td><%= link_to 'Edit', edit_timeline_event_path(timeline_event) %></td>
          <td><%= link_to 'Destroy', timeline_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'New Timeline Event', new_timeline_event_path %>
</div>
<!-- /.page-content-wrapper -->
<%= render 'shared/top_of_page' %>
<%= render 'shared/side_menu_script' %>
